html{
    font-size: 62.5;
}
.area{
    background-color: gray;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  row-gap: 20px;
  column-gap:30px ;
    
}
.square{
    background-color: orange;
}