:root{
    --azul:#333;
    --branco:#444;
    --laranja:#e63900;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #444;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product {
    border: 1px solid #ccc;
    padding: 1rem;
    width: calc(33% - 2rem);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
button {
    background-color: #ff4500; /* Laranja */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #e63900; /* Laranja escuro */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}
